<h1>Mis casitas</h1>

<p>comprenme una casita denme chamba</p>


<div class="container">
  <div class="alert alert-success" role="alert">
    Bootstrap está funcionando correctamente en Rails 7!
  </div>
</div>

